<!DOCTYPE html>
<html>
  <head><link type="text/css" rel="stylesheet" href="/css/application.css">
    <title>
      RPS
    </title>
  </head>
  <body>
    <h1> RPS Baby!</h1>

      <%= yield %>

  </body>
</html>
